body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}

.gallery img {
    width: 25rem;
    height: auto;
    cursor: pointer;
    margin: 1rem;
    border-radius: 2%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#largeImage {
    max-width: 90%;
    max-height: 90%;
}

#caption {
    color: #fff;
    text-align: center;
}
